@import '../../colors.scss';

$navbar-bg: #F5F5F5;
$logo-height: 3.5rem;
$navbar-height: 3.5rem;
$navbar-padding: .5rem;
$option-margin-left: 1rem;
$button-height: 2.5rem;
$button-radius: .3rem;
$button-padding: .8rem;
$button-bg: #03A9F4;

.basic-anchor {
    text-decoration: none;
    color: initial;
}

.navbar {
    background-color: $navbar-bg;
    height: $navbar-height - $navbar-padding;
    padding: $navbar-padding $navbar-padding * 4;
    display: flex;
    flex-direction: row;

    &__header {
        display: flex;
        flex-direction: row;

        &__logo {
            width: 20rem;
            height: 100%;
    
            & a {
                display: flex;
                height: 100%;
                width: 100%;
                justify-content: center;
                align-items: center;

                & path {
                    fill: $icon-color;
                }
            }
        }

        &__toggleButton {
            display: none;
        }
    }

    &__options {
        height: 100%;
        width: 100%;
        list-style: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: end;

        &-show {
            height: 100%;
            width: 100%;
            list-style: none;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: end;

            & li:first-child() {
                margin-left: 0;
            }
    
            & li {
                margin-left: $option-margin-left;
            }
    
            & li a {
                @extend .basic-anchor
            }
        }

        & li:first-child() {
            margin-left: 0;
        }

        & li {
            margin-left: $option-margin-left;
        }

        & li a {
            @extend .basic-anchor
        }

        &-hide {
            display: none;
        }

        &__link a {
            display: table-cell;
            vertical-align: middle;
            height: $button-height;

            &:hover {
                color: #03A9F4;
                padding: 0;
            }
        }

        &__button {
            & a button {
                height: $button-height;
                padding: 0 $button-padding;
                background-color: $blue-700;
                border: none;
                border-radius: $button-radius;
                color: white;

                &:hover {
                    opacity: .9;
                }
            }
        }

        &__logout div {
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            cursor: pointer;
        }

        &__logout div:hover {
            height: $button-height;
            color: $red-800;
        }
    }
}

// Tablet screen
@media (min-width: 577px) and (max-width: 768px) {
    .navbar {
        height: auto;
        padding: $navbar-padding $navbar-padding * 4;
        display: flex;
        flex-direction: column;

        &__header {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: row;

            &__logo {
                width: 35rem;
                height: $logo-height;
            }

            &__toggleButton {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                height: $logo-height;
                width: 100%;
                float: right;
    
                & div {
                    height: $logo-height;
                    width: $logo-height;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                & div svg {
                    height: 50%;

                    & path {
                        fill: $text-color;
                    }
                }
            }
        }

        &__options {
            &-show {
                height: auto;
                width: 100%;
                background-color: $navbar-bg;
                flex-direction: column;
                align-items: flex-end;
                justify-content: end;
                padding: $navbar-padding * 2 $navbar-padding * 2;
            }

            &-hide {
                display: none;
            }

            &__logout div {
                color: $red-800;
                height: 100%;
                width: 100%;
                display: flex;
                align-items: center;
                cursor: pointer;
            }

            &__logout,
            &__link {
                height: $button-height;
            }

            &__button {
                margin-top: $navbar-padding * 2;
            }
        }
    }
}

// Mobile screen
@media (max-width: 576px) {
    $navbar-padding: .3rem;
    $option-margin-left: .7rem;
    $toggle-button-width: 50px;
    $toggle-button-color: #424242;
    $toggle-icon-width: 70%;

    .navbar {
        height: auto;
        padding: $navbar-padding $navbar-padding * 2;
        display: flex;
        flex-direction: column;
    
        &__header {
            &__logo {
                width: 100%;
                height: $logo-height;
        
                & a svg {
                    width: 95%;
                }
            }

            &__toggleButton {
                display: flex;
                justify-content: center;
                align-items: center;
                height: $logo-height;
                width: $logo-height;
    
                & div {
                    height: $logo-height;
                    width: $logo-height;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                & div svg {
                    height: 50%;

                    & path {
                        fill: $text-color;
                    }
                }
            }
        }
    
        &__options {
            &-show {
                height: auto;
                width: inherit;
                background-color: $navbar-bg;
                flex-direction: column;
                align-items: flex-end;
                justify-content: end;
                padding: $navbar-padding * 2 $navbar-padding * 2;
            }

            &-hide {
                display: none;
            }

            &__logout div {
                color: $red-800;
                height: 100%;
                width: 100%;
                display: flex;
                align-items: center;
                cursor: pointer;
            }

            &__logout,
            &__link {
                height: $button-height;
            }

            &__button {
                margin-top: $navbar-padding * 2;
            }
        }
    }
}