@import '../../colors.scss';

$navbar-bg: #F5F5F5;
$logo-height: 3.5rem;
$navbar-height: 3.5rem;
$navbar-padding: .5rem;
$option-margin-left: 1rem;
$button-height: 2.5rem;
$button-radius: .3rem;
$button-padding: .8rem;
$button-bg: #03A9F4;

.basic-anchor {
    text-decoration: none;
    color: initial;
}

.navbar {
    background-color: $navbar-bg;
    height: $navbar-height - $navbar-padding;
    padding: $navbar-padding $navbar-padding * 4;
    display: flex;
    flex-direction: row;

    &__logo {
        width: 20rem;
        height: 100%;

        & a {
            display: flex;
            height: 100%;
            width: 100%;
            justify-content: center;
            align-items: center;
        }
    }

    &__options {
        height: 100%;
        width: 100%;
        list-style: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: end;

        & li:first-child() {
            margin-left: 0;
        }

        & li {
            margin-left: $option-margin-left;
        }

        & li a {
            @extend .basic-anchor
        }

        &__link a {
            display: table-cell;
            vertical-align: middle;
            height: $button-height;

            &:hover {
                color: #03A9F4;
                padding: 0;
            }
        }

        &__button {
            & a button {
                height: $button-height;
                padding: 0 $button-padding;
                background-color: $blue-700;
                border: none;
                border-radius: $button-radius;
                color: white;

                &:hover {
                    opacity: .9;
                }
            }
        }

        &__logout div {
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            cursor: pointer;
        }

        &__logout div:hover {
            height: $button-height;
            color: $red-800;
        }
    }
}

@media (max-width: 576px) {
    $navbar-padding: .3rem;
    $option-margin-left: .7rem;
    $toggle-button-width: 50px;
    $toggle-button-color: #424242;
    $toggle-icon-width: 70%;

    .navbar {
        background-color: $navbar-bg;
        height: auto;
        padding: $navbar-padding $navbar-padding * 2;
        display: flex;
        flex-direction: column;
    
        &__logo {
            width: 100%;
            height: $logo-height;
    
            & a svg {
                width: 95%;
            }
        }
    
        &__options {
            height: auto;
            width: inherit;
            background-color: $navbar-bg;
            flex-direction: column;
            align-items: flex-end;
            justify-content: end;
            padding: $navbar-padding * 2 $navbar-padding * 2;

            &__logout div {
                color: $red-800;
                height: 100%;
                width: 100%;
                display: flex;
                align-items: center;
                cursor: pointer;
            }

            &__logout,
            &__link {
                height: $button-height;
            }

            &__button {
                margin-top: $navbar-padding * 2;
            }
        }
    }
}